<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pg.premiumcalculator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".helpandsupport"></activity>
        <activity android:name=".splash_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".about" />
        <activity android:name=".view_profile" />
        <activity android:name=".register" />
        <activity android:name=".login" />
        <activity android:name=".commission" />
        <activity android:name=".misc_breakup" />
        <activity android:name=".misc" />
        <activity android:name=".schoolbus_breakup" />
        <activity android:name=".schoolbus" />
        <activity android:name=".busover6_breakup" />
        <activity android:name=".busover6" />
        <activity android:name=".gcv_breakup" />
        <activity android:name=".gcv" />
        <activity android:name=".pcv3wheeler_breakup" />
        <activity android:name=".pcv3wheeler" />
        <activity android:name=".gcv3wheeler_breakup" />
        <activity android:name=".gcv3wheeler" />
        <activity android:name=".taxilessthan6_breakup" />
        <activity android:name=".private_car_breakup" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.pg.premiumcalculator.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".two_wheeler_breakup" />
        <activity android:name=".taxilessthan6" />
        <activity android:name=".private_car" />
        <activity android:name=".two_wheeler" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>